<script src="vue.js"></script>
<meta charset="UTF-8" />
<div id="app">
	<ul>
		<li v-for="(ingredient, i) in ingredients" v-bind:key="ingredient">{{ ingredient }} ({{ i }})</li>
	</ul>
	<button v-on:click="ingredients.push('spices')">Add new</button>
	<hr>
	<ul>
		<li v-for="person in persons">
			<div v-for="(v, k, index) in person">{{ k }}: {{ v }} ({{ index }})</div>
		</li>
	</ul>
	<hr>

	<span v-for="n in 10">{{ n }} </span>

	<hr>
	<template v-for=" (ingredient, index) in ingredients ">
		<h1>{{ ingredient }}</h1>
		<p>{{ index }}</p>
	</template>
</div>
<script>
	new Vue({
		el: '#app',
		data: {
			ingredients: ['meat', 'fruit', 'cookies'],
			persons: [
				{name: 'Max', age: 27, color: 'red'},
				{name: 'Anna', age: 'unknown', color: 'blue'}
			]
		},
		methods: {

		}
	})
</script>